@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(https://i.postimg.cc/pr3XqDVn/blue-and-pink-paint-abstract-artwork-3109793.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  max-width: 1440px;
  padding: 0;
  margin: 0;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title,
.post-title {
  font-size: 42px;
  text-transform: lowercase;
  font-family: $font-logo;
  font-weight: 400;
  margin-top: 0;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
  position: relative;
}

.sidebar,
.posts {
  background-color: beige;
  margin-right: 10px;
  margin-bottom: 80px;
  border-radius: 5px;
}

.sidebar{
  padding: 40px;
}


/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 800;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: white;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  opacity: 0;
  z-index: 0;
  transition: 0.5s;
  padding: 40px;
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 100%;

  &.active {
    opacity: 1;
    z-index: 1;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

/* Media */

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .sidebar {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .post-tags {
    justify-content: center;
    margin-top: 30px;
  }
}
